[tool.ruff]
line-length = 120
target-version = "py313"
exclude = [
    "migrations",
    "__pycache__",
    "manage.py",
    "settings.py",
    "venv",
    ".venv"
]

[tool.ruff.lint]
select = ["E", "F", "I", "B"]
ignore = []

[tool.ruff.format]
quote-style = "double"

[tool.mypy]
python_version = "3.13"
check_untyped_defs = true
ignore_missing_imports = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
explicit_package_bases = true

[[tool.mypy.overrides]]
module = "django.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["rest_framework.*", "celery.*", "decouple.*"]
ignore_missing_imports = true
